<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="SQL_CONN" value=""/>
    <!--<add key="SQL_SERVER" value="172.19.20.23,6516"/>-->
    <add key="SQL_SERVER" value="172.19.24.28,6516"/>
    <add key="DB_NAME" value="Lemon"/>
    <add key="USER" value="svck2dev"/>
    <add key="PWD" value="gjjjuagcF89524!"/>
    <!--<add key="USER" value="svck2dev"/>
    <add key="PWD" value="gjjjuagcF89524!"/>-->
    <!-- <add key="SAP_Conn" value="ASHOST=falcon.intranet.nus.edu.sg SYSNR=0 CLIENT=088 USER=ISS_TMRFC PASSWD=FDGR8456"/>-->
    <add key="SAP_Conn" value="ASHOST=owl.intranet.nus.edu.sg SYSNR=0 CLIENT=130 USER=ISS_TMRFC PASSWD=71TxgicE"/>
    <!--DEV-->
    <!--<add key="CHRS_Conn" value="https://izaac2-test.nus.edu.sg/staff/3.0/inf/34-1"/>
    <add key="CHRS_BatchSubmit" value="https://izaac2-test.nus.edu.sg/staff/3.0/batch/submit/inf/34-1"/>
    <add key="CHRS_BatchSubmitCheckStatus" value="https://izaac2-test.nus.edu.sg/staff/3.0/batch/poll/inf/34-1/job/"/>
    <add key="CHRS_BatchGetData" value="https://izaac2-test.nus.edu.sg/staff/3.0/batch/data/inf/34-1/job/"/>
    <add key="CHRS_BatchDelete" value="https://izaac2-test.nus.edu.sg/staff/3.0/batch/delete/inf/34-1/job/"/>-->
    
    <!--UAT-->
    <!--<add key="CHRS_Conn" value="https://izaac2-uat.nus.edu.sg/staff/3.0/inf/34-1"/>
    <add key="CHRS_BatchSubmit" value="https://izaac2-uat.nus.edu.sg/staff/3.0/batch/submit/inf/34-1"/>
    <add key="CHRS_BatchSubmitCheckStatus" value="https://izaac2-uat.nus.edu.sg/staff/3.0/batch/poll/inf/34-1/job/"/>
    <add key="CHRS_BatchGetData" value="https://izaac2-uat.nus.edu.sg/staff/3.0/batch/data/inf/34-1/job/"/>
    <add key="CHRS_BatchDelete" value="https://izaac2-uat.nus.edu.sg/staff/3.0/batch/delete/inf/34-1/job/"/>-->

    <!--PROD-->
    <add key="CHRS_Conn" value="https://izaac2.nus.edu.sg/staff/3.0/batch/submit/inf/34-1/"/>
    <add key="CHRS_BatchSubmit" value="https://izaac2.nus.edu.sg/staff/3.0/batch/submit/inf/34-1"/>
    <add key="CHRS_BatchSubmitCheckStatus" value="https://izaac2.nus.edu.sg/staff/3.0/batch/poll/inf/34-1/job/"/>
    <add key="CHRS_BatchGetData" value="https://izaac2.nus.edu.sg/staff/3.0/batch/data/inf/34-1/job/"/>
    <add key="CHRS_BatchDelete" value="https://izaac2.nus.edu.sg/staff/3.0/batch/delete/inf/34-1/job/"/>
    <add key="X-STAFF-API" value="o4jrm33l-0tnv-yqmd-0h89-amii7ovr6ib0"/>
    <add key="X-APP-API" value="53ded263-054c-40eb-9327-578944a6e14f"/>
    <!--<add key="X-STAFF-API" value="7b3b6f20-c5dc-40da-b68f-6f4c9c59ccf2"/>
    <add key="X-APP-API" value="3b43b842-2555-408d-a471-b0176593683e"/>-->

    <add key="LOG" value="Z:\M\ISD\Shared\ADG\Anu\CHRS_V1\CHRS_V1\bin\Debug\Log\" />
    <add key="LOG_FILENAME" value="CHRS_Notification_Log" />
  </appSettings>
</configuration>
